In [1]:
import sys, os
sys.path.insert(0, os.path.abspath(".."))

from src.preprocessing import load_data, split_and_preprocess

df = load_data()
df.head(5)

,Status_Checking_Account,Duration,Credit_History,Purpose,Credit_Amount,Savings_Account,Present_Employment,Installment_Rate,Personal_Status_Sex,Other_Debtors,...,Property,Age,Other_Installment_Plans,Housing,Number_of_Existing_Credits,Job,Number_of_People_Liable,Telephone,Foreign_Worker,Risk
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,good
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,bad
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,good
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,good
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,bad

In [2]:
X_train, X_test, y_train, y_test, preprocessor = split_and_preprocess(df)
print("X_train:", X_train.shape, "X_test:", X_test.shape)
print("y_train distribution:\n", y_train.value_counts())

X_train: (800, 61) X_test: (200, 61)
y_train distribution:
 Risk
1    560
0    240
Name: count, dtype: int64

In [3]:
# numeric feature names
import pandas as pd

num_feats = df.select_dtypes(include=["int64","float64"]).columns.tolist()

# categorical columns (before encoding)
cat_feats = df.select_dtypes(include=["object"]).columns.drop("Risk")

# get one-hot names
ohe = preprocessor.named_transformers_["cat"].named_steps["onehot"]
ohe_names = list(ohe.get_feature_names_out(cat_feats))

# combined feature list
feature_names = num_feats + ohe_names

print("Total features after preprocessing:", len(feature_names))
feature_names[:61]  # preview first 10 names

Total features after preprocessing: 61

['Duration',
 'Credit_Amount',
 'Installment_Rate',
 'Present_Residence_Since',
 'Age',
 'Number_of_Existing_Credits',
 'Number_of_People_Liable',
 'Status_Checking_Account_A11',
 'Status_Checking_Account_A12',
 'Status_Checking_Account_A13',
 'Status_Checking_Account_A14',
 'Credit_History_A30',
 'Credit_History_A31',
 'Credit_History_A32',
 'Credit_History_A33',
 'Credit_History_A34',
 'Purpose_A40',
 'Purpose_A41',
 'Purpose_A410',
 'Purpose_A42',
 'Purpose_A43',
 'Purpose_A44',
 'Purpose_A45',
 'Purpose_A46',
 'Purpose_A48',
 'Purpose_A49',
 'Savings_Account_A61',
 'Savings_Account_A62',
 'Savings_Account_A63',
 'Savings_Account_A64',
 'Savings_Account_A65',
 'Present_Employment_A71',
 'Present_Employment_A72',
 'Present_Employment_A73',
 'Present_Employment_A74',
 'Present_Employment_A75',
 'Personal_Status_Sex_A91',
 'Personal_Status_Sex_A92',
 'Personal_Status_Sex_A93',
 'Personal_Status_Sex_A94',
 'Other_Debtors_A101',
 'Other_Debtors_A102',
 'Other_Debtors_A103',
 'Property_A121',
 'Property_A122',
 'Property_A123',
 'Property_A124',
 'Other_Installment_Plans_A141',
 'Other_Installment_Plans_A142',
 'Other_Installment_Plans_A143',
 'Housing_A151',
 'Housing_A152',
 'Housing_A153',
 'Job_A171',
 'Job_A172',
 'Job_A173',
 'Job_A174',
 'Telephone_A191',
 'Telephone_A192',
 'Foreign_Worker_A201',
 'Foreign_Worker_A202']